@model Adresler
@{
    ViewBag.Title = "Yeni";
}

<h2>Yeni Adres</h2>

@using (Html.BeginForm())
{
    <div class="input-group">
        <span class="input-group-addon">Adres</span>
        @Html.TextAreaFor(x => x.AdresTanim, new { @class = "form-control", placeholder = " Yeni Adres", @required = "required" })
    </div>
    <br />
    <div class="input-group">
        <span class="input-group-addon">Kişi</span>
        @Html.DropDownListFor(x => x.Kisi.ID, (List<SelectListItem>)ViewBag.kisiler, new { @class = "form-control" })
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Kaydet" class="btn btn-primary" />
    </div>

    <div class="input-group">
        @if (@ViewBag.mesaj != null)
        {
            <div class="alert alert-@ViewBag.renk " role="alert">
                @ViewBag.mesaj
            </div>

        }

    </div>
}
